---
---
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
	<meta name="keywords" content="{{ site.keywords }}">
	<meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="combo.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  {% if site.favicon %}<link rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">{% endif %}
  {% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.touch_icon }}">{% endif %}
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
  <div id="main">    
    <div class="section" style="padding-top: 0px; padding: 90px 0; min-height: 0">
  </div>
    <div class="section" style="padding-top: 140px;">
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-ellipsis-h fa-stack-1x"></i>
        </span>
        <h5 class="icon-title">Privacy Policy</h5>
      </div>
      <div class="container center">
        <p>            
            <p><strong>Contact information</strong></p>
              <p>
              POSITIVE INFINITY<br>
              Sebastian Niemann<br>
              Leopoldstraße 2-8<br>
              32051 Herford<br>
              Germany<br>
              Phone: +4952144815307<br>
              E-Mail: positive.infinity.development@gmail.com<br>
              </p>
            <p><strong>General information</strong></p>
              <p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure
                 of Personal Information if anyone decided to use our Android apps.                    
               </p> <p>If you choose to use our apps, then you agree to the collection and use of information in
                 relation to this policy. The Personal Information that we collect is used for providing and improving
                 the apps. We will not use or share your information with anyone except as described
                 in this Privacy Policy.
               </p> <p><strong>Information Collection and Use</strong></p> <p>For a better experience, while using our apps, we may require you to provide us with certain
                 personally identifiable information, including but not limited to your current location. The information that we request will be retained by us and used as described in this privacy policy.
                 <ul><li>User Location: If (and only if) you grant the app permission to access your current location, this location is constantly queried while using the app. Data obtained regarding your location is only used
                   to query for search results near your location (which is the main purpose of the app) and to display your location and the serach results within the app, e.g. on a map. 
                   Any transfer of location information is encrypted and no further personal information is included in the search queries.</li></ul>
               </p> <p>The app does use third party services that may collect information used to identify you.</p> <div><p>Link to privacy policy of third party service providers used by the app</p> <ul><li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li></ul></div> 
               <p><strong>Log Data</strong></p> <p> We want to inform you that whenever you use our Service, in a case of
                 an error in the app we collect data and information (through third party products) on your phone
                 called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address,
                 device name, operating system version, the configuration of the app,
                 the time and date of your use of the app, and other statistics.
               </p> <p><strong>Cookies</strong></p> <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
                 These are sent to your browser from the websites that you visit and are stored on your device's internal
                 memory.
               </p> <p>The app does not use these “cookies” explicitly. However, the app may use third party code and
                 libraries that use “cookies” to collect information and improve their services.
               </p> <p><strong>Security</strong></p> <p> We value your trust in providing us your Personal Information, thus we are striving
                 to use commercially acceptable means of protecting it. But remember that no method of transmission over
                 the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee
                 its absolute security.
               </p> <p><strong>Links to Other Sites</strong></p> <p>This app may contain links to other sites. If you click on a third-party link, you will be directed
                 to that site. Note that these external sites are not operated by us. Therefore, we strongly
                 advise you to review the Privacy Policy of these websites. We have no control over
                 and assume no responsibility for the content, privacy policies, or practices of any third-party sites
                 or services.
               </p> <p><strong>Changes to This Privacy Policy</strong></p> <p> We may update our Privacy Policy from time to time. Thus, you are advised to review
                 this page periodically for any changes. We will notify you of any changes by posting
                 the new Privacy Policy on this page. These changes are effective immediately after they are posted on
                 this page.
               </p> <p><strong>Contact Us</strong></p> <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact
                 us.
        </p>          
      </div>
    </div>
  </div>

  <!--
  <div class="section" style="padding-top: 140px;">
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-ellipsis-h fa-stack-1x"></i>
        </span>
        <h5 class="icon-title">Datenschutz-<br>erklärung</h5>
      </div>
      <div class="container center">
        <p>            
            <p><strong>Kontaktinformationen</strong></p>
              <p>
              POSITIVE INFINITY<br>
              Sebastian Niemann<br>
              Leopoldstraße 2-8<br>
              32051 Herford<br>
              Deutschland<br>
              Telefon: +4952144815307<br>
              E-Mail: positive.infinity.development@gmail.com<br>
              </p>
            <p><strong>Allgemeine Informationen</strong></p>
              <p>This page is used to inform visitors regarding our policies with the collection, use, and disclosure
                 of Personal Information if anyone decided to use our Android apps.                    
               </p> <p>If you choose to use our apps, then you agree to the collection and use of information in
                 relation to this policy. The Personal Information that we collect is used for providing and improving
                 the apps. We will not use or share your information with anyone except as described
                 in this Privacy Policy.
               </p> <p><strong>Information Collection and Use</strong></p> <p>For a better experience, while using our apps, we may require you to provide us with certain
                 personally identifiable information, including but not limited to your current location. The information that we request will be retained by us and used as described in this privacy policy.
                 <ul><li>User Location: If (and only if) you grant the app permission to access your current location, this location is constantly queried while using the app. Data obtained regarding your location is only used
                   to query for search results near your location (which is the main purpose of the app) and to display your location and the serach results within the app, e.g. on a map. 
                   Any transfer of location information is encrypted and no further personal information is included in the search queries.</li></ul>
               </p> <p>The app does use third party services that may collect information used to identify you.</p> <div><p>Link to privacy policy of third party service providers used by the app</p> <ul><li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li></ul></div> 
               <p><strong>Log Data</strong></p> <p> We want to inform you that whenever you use our Service, in a case of
                 an error in the app we collect data and information (through third party products) on your phone
                 called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address,
                 device name, operating system version, the configuration of the app,
                 the time and date of your use of the app, and other statistics.
               </p> <p><strong>Cookies</strong></p> <p>Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers.
                 These are sent to your browser from the websites that you visit and are stored on your device's internal
                 memory.
               </p> <p>The app does not use these “cookies” explicitly. However, the app may use third party code and
                 libraries that use “cookies” to collect information and improve their services.
               </p> <p><strong>Security</strong></p> <p> We value your trust in providing us your Personal Information, thus we are striving
                 to use commercially acceptable means of protecting it. But remember that no method of transmission over
                 the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee
                 its absolute security.
               </p> <p><strong>Links to Other Sites</strong></p> <p>This app may contain links to other sites. If you click on a third-party link, you will be directed
                 to that site. Note that these external sites are not operated by us. Therefore, we strongly
                 advise you to review the Privacy Policy of these websites. We have no control over
                 and assume no responsibility for the content, privacy policies, or practices of any third-party sites
                 or services.
               </p> <p><strong>Changes to This Privacy Policy</strong></p> <p> We may update our Privacy Policy from time to time. Thus, you are advised to review
                 this page periodically for any changes. We will notify you of any changes by posting
                 the new Privacy Policy on this page. These changes are effective immediately after they are posted on
                 this page.
               </p> <p><strong>Contact Us</strong></p> <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact
                 us.
        </p>          
      </div>
    </div>
  </div>
  -->

{% include analytics.html %}
</body>
<script src="site.js"></script>
</html>
