<div style="text-align:center">
<h3>How to use</h3>
Position the map or use the magnifier icon to search for locations anywhere in the world. Use the square icon to maximize the map for a better overview.
<b>REMARK:</b> Locations are not shown for low zoom levels, so be sure to zoom in far enough. Items are then automatically shown on the map.
<br/>
<br/>
<a class="playStoreLink" href="{{page.play_url}}"><img style="background:transparent;" class="playStore" src="assets/playstore.png"></a>
</div>